<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="BeanPersonel" class="tr.com.huseyinaydin.Personel">
		<property name="setimiz">
			<util:set set-class="java.util.TreeSet">								
				<value>Zımzımettin Uzunkavakaltındayatardasabahakadarhorulhoruluyuroğlu</value>
				<value>Şakir Şenşakırdakçıoğulları</value>
				<value>Osman Tekiroğlu</value>
				<value>Bekir Tıkırış</value>
			</util:set>
		</property>
	</bean>
</beans>