<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="selam" class="tr.com.huseyinaydin.Selam">
		<property name="mesaj"
			value="Bilişim, yazılım teknolojileri insanoğlunun şu ana kadar ki elde edebildiği en üstün şey ve süper güce en yakın şeydir." />
	</bean>
</beans>