<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<aop:aspectj-autoproxy />

	<bean id="personelServisBean"
		class="tr.com.huseyinaydin.impl.PersonelServisImpl">
		<property name="adi" value="Hüseyin" />
		<property name="soyadi" value="Hacımehmetinoğludeğil" />
		<property name="tecrube" value="1500" />
	</bean>

	<bean id="metotCagiriOncesiYapilacaklar"
		class="tr.com.huseyinaydin.aop.MetotCagiriOncesiYapilacaklar" />

	<bean id="metotCagiriSonrasiYapilacaklar"
		class="tr.com.huseyinaydin.aop.MetotCagiriSonrasiYapilacaklar" />

</beans>